@page "/addInventory"

@inject IAddInventoryUseCase addInventoryUseCase

<h3>AddInventory</h3>
<br />

<EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Save">

	<div class="form-group">
		<label for="name">Inventory Name</label>
		<InputText id="name" class="form-control" @bind-Value="inventory.InventoryName" />
	</div>

	<div class="form-group">
		<label for="quantity">Inventory Quantity</label>
		<InputNumber id="quantity" class="form-control" @bind-Value="inventory.Quantity" />
	</div>

	<div class="form-group">
		<label for="price">Inventory Price</label>
		<InputNumber id="price" class="form-control" @bind-Value="inventory.Price" />
	</div>

	<br />

	<button type="submit" class="btn btn-primary">Save</button>

</EditForm>

@code {
	[SupplyParameterFromForm]
	private Inventory inventory { get; set; } = new Inventory();	


	private async Task Save()
	{
		await addInventoryUseCase.ExecuteAsync(inventory);
	}
}
