<SearchProductInventoriesComponent OnInventorySelected="HandleInventorySelected"></SearchProductInventoriesComponent>

@if(this.Product is not null &&
	this.Product.ProductInventory is not null &&
	this.Product.ProductInventory.Count> 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Quantity</th>
				<th></th>
		</tr>
		</thead>

		<tbody>
			@foreach(var prodInventory in this.Product.ProductInventory)
			{
				<tr>
					<td>@prodInventory.Inventory?.InventoryName</td>
					<td>
						<input type="number" min="0" @bind-value="prodInventory.InventoryQuantity"/>
					</td>
					<td>
						<buttton class="btn btn-link" type="button" @onclick="() => RemoveInventory(prodInventory)">Remove</buttton>
					</td>
				</tr>			
			}
		</tbody>
	</table>
}

@code {
	[Parameter]
	public Product? Product { get; set; }

	private void RemoveInventory(ProductInventory productInventory)
	{
		this.Product?.RemoveInventory(productInventory);
	}

	private void HandleInventorySelected(Inventory inventory)
	{
		this.Product?.AddInventory(inventory);
	}
}
